<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce</title>
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>

    <%- include("./components/header") %>
    
    

    <section>
        <p>
            <span>Home</span>
            <span>/</span>
            <span>Cart</span>
        </p>
    
        <div id="cart">
            <div class="cart-child">
                <div><p>Product</p></div>
                <div><p>Price</p></div>
                <div><p>Quantity</p></div>
                <div><p>Subtotal</p></div>
            </div>

            
            <%if(produto.length===0){%>
                <h1>Nao ha produtos</h1>
            <%}else{%>
        
                <%for (let index = 0; index < produto.length; index++) {%>
                    <div class="cart-child">
                        <div class="content"><img src="<%= produto[index].product_img %>" alt="foto"><p><%= produto[index].product_name %></p></div>
                        <div><p>$<%= produto[index].product_price %></p></div>
                        <div><input class="quantity" type="number" min="1" value="<%= produto[index].product_quantity %>"></div>
                        <div><p class="preco_total">$<%= produto[index].product_total_price %></p></div>
                    </div>
                <%}%>
        
            <%}%>
           

            
            <div class="cart-btn">
                <button>Return To Shop</button>
                <button>Update Cart</button>
            </div>
        </div>
    
    </section>

    <script src="/js/main.js"></script>
</body>
</html>