<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce</title>
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>

    <%- include("./components/header") %>
    
    

    <section>
        <p>
            <span>Home</span>
            <span>/</span>
            <span>Cart</span>
        </p>
    
        <div id="cart">
            <div class="cart-child">
                <div><p>Product</p></div>
                <div><p>Price</p></div>
                <div><p>Quantity</p></div>
                <div><p>Subtotal</p></div>
            </div>

            
            <%if(produto.length===0){%>
                <h1>Nao ha produtos</h1>
            <%}else{%>
        
                <%for (let index = 0; index < produto.length; index++) {%>
                    <div class="cart-child">
                        <div class="content"><img src="<%= produto[index].product_img %>" alt="foto"><p><%= produto[index].product_name %></p></div>
                        <div><p>$<%= produto[index].product_price.toFixed(2)%></p></div>
                        <div><input class="quantity" type="number" min="1" value="<%= produto[index].product_quantity %>"></div>
                        <div><p class="price_total">$<%= (produto[index].product_price * produto[index].product_quantity).toFixed(2) %></p></div>
                    </div>
                <%}%>
        
            <%}%>
           

            
            <div class="cart-btn">
                <button>Return To Shop</button>
                <button>Update Cart</button>
            </div>
        </div>

        <div id="subPrice">
            <div>
                <input type="text" placeholder="Coupon Code">
                <button class="btn_sub">Aplly Coupon</button>
            </div>

            <div>
                <p id="CartTotal">Cart Total</p>
                <div>
                    <p>SubTotal</p>
                    <p class="sub_total">$823</p>
                </div>
                <hr>
                <div>
                    <p>Sipping</p>
                    <p>Free</p>
                </div>
                <hr>
                <div>
                    <p>Total</p>
                    <p class="sub_total">$823</p>
                </div>
                <div id="div_btn">
                    <button id="check" class="btn_sub">Procees to checkout</button>
                </div>
                
            </div>

        </div>
    
    </section>

    <script src="/js/main.js"></script>
</body>
</html>