<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    
    
    <%- include("./components/header",{id_user}) %>

    <main>
        <div id="main-1">
            <ul>
                <li><a href="/index/<%=id_user%>/products/<%=type_list[0]%>">Electronics</a></li>
                <li><a href="/index/<%=id_user%>/products/<%=type_list[1]%>">Jewelery</a></li>
                <li><a href="/index/<%=id_user%>/products/<%=type_list[2]%>">Men's Clothing</a></li>
                <li><a href="/index/<%=id_user%>/products/<%=type_list[3]%>">Women's Clothing</a></li>
            </ul>
        </div>
        <div id="main-2">
            <img src="/img/Iphone.png" alt="">
        </div>
    </main>

    
    <%- include("./showProducts" , {products}) %>


</body>
</html>