<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce</title>
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>
    
    <%- include ('./components/header')%>

    <section>

        <%for (let index = 0; index < produtos[0].length; index++) {%>
    
            <div class="cards">
    
                <div class="img">
                    <img src="<%= produtos[2][index] %>" alt="foto do produto">
                </div>
                
                <form action="/index/cart/<%= id_user %>/<%= produtos[0][index] %>/<%= produtos[1][index] %>" method="post">
                    <button class="addToCartButton">Add Cart</button>
                </form>
                

                <div class="descricao">
                    <h5 class="texto-cortado"><%= produtos[0][index] %></h5>
                    <p>$<%= produtos[1][index] %></p>
                </div>
            </div>
        <%}%>
       
    </section>


    <script src="/js/main.js"></script>
</body>
</html>


 
