<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce</title>
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>
    
    <%- include ('./components/header')%>

    
    <section>

        <input type="hidden" id="input_id" value="<%=id_user%>">
        
        <%for (let index = 0; index < produtos[0].length; index++) {%>
            <div class="cards">
    
                <div class="img">
                    <img src="<%= produtos[2][index] %>" alt="foto do produto">
                </div>
                
                <form action="/index/cart/<%= id_user %>/<%= produtos[0][index] %>/<%= produtos[1][index] %>/<%=produtos[2][index]%>" method="post">
                    <button class="addToCartButton">Add Cart</button>
                    <div><img src="/img/cart.gif" alt=""></div>
                </form>
                

                <div class="descricao">
                    <h5 class="texto-cortado"><%= produtos[0][index] %></h5>
                    <p>$<%= produtos[1][index] %></p>


                    <%if (produtos[3][index] >= 1 && produtos[3][index] < 1.5) {%>
                        
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>

                    <%} else if (produtos[3][index] >= 1.5 && produtos[3][index] < 2) {%>
                        
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>

                    <%} else if (produtos[3][index] >= 2 && produtos[3][index] < 2.5) {%>
                        
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>

                    <%} else if (produtos[3][index] >= 2.5 && produtos[3][index] < 3) {%>
                        
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>

                    <%} else if (produtos[3][index] >= 3 && produtos[3][index] < 3.5) {%>
                        
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>

                    <%} else if (produtos[3][index] >= 3.5 && produtos[3][index] < 4) {%>
                        
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                        <i class="bi bi-star"></i>

                    <%} else if (produtos[3][index] >= 4 && produtos[3][index] < 4.5) {%>
                        
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>

                    <%} else if (produtos[3][index] >= 4.5 && produtos[3][index] < 5) {%>
                        
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>

                    <%} else if (produtos[3][index] == 5) {%>
                        
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>

                    <%} else {%>
                        <h5>An error occurred!</h5>
                    <%}%>
                  



                </div>
            </div>
        <%}%>
       
    </section>


    <script src="/js/main.js"></script>
</body>
</html>


 
